/*----------Global Settings----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --background-color: rgba(107, 32, 178, 0.7);
    --text-color: whitesmoke;
}

/*----------Navigation----------*/
.navbar {
    position: fixed;
    background-color: var(--background-color);
    width: 100vw;
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: larger;
    font-weight: 500;
    padding: 5px;
}

.nav-link:hover {
    transform: scale(1.1);
    font-weight: bolder;
}

.nav-item {
    display: inline-flex;
    direction: row;
    margin: 10px 20px 10px 20px;
    color: var(--text-color);
    width: 100px;
    justify-content: center;
}

.nav-pills {
    text-align: right;
    margin: auto 50px;
}

/*----------Top Section----------*/

.header {
    height: 100vh;
    width: 100%;
    background: url(/assets/images/image-from-rawpixel-id-7009523-small.png) bottom center no-repeat, linear-gradient(rgba(190, 190, 190, 1) 0%, rgba(135, 206, 235, 1) 10%, rgba(135, 206, 235, 1) 65%, rgba(144, 238, 144, 1));
}

.title {
    position: absolute;
    top: 40%;
    left: 35%;
    text-align: center;
    width: 30%;
    margin: 0px auto;
    padding: 15px;
    border-radius: 100px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-weight: 500;
    font-size: x-large;
    border: 3px solid var(--text-color);
}

.divider {
    width: 50%;
    height: 3px;
    margin: 10px auto;
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 7px;
}

/*----------Middle Section----------*/

.about {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(190, 190, 190, 1) 0%, rgba(135, 206, 235, 1) 10%);
}

/*----------Bottom Section----------*/

.contact {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(135, 206, 235, 1) 80%, rgba(144, 238, 144, 1));
}

.form-title {
    text-align: center;
    color: var(--text-color);
    background-color: var(--background-color);
    border: 2px solid var(--text-color);
    border-radius: 25px;
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;
}

.form {
    position: relative;
    top: 10%;
    left: 10%;
    width: 80%;
}

.form-control {
    width: 100%;
    margin: 10px auto;
    border-radius: 25px;
    border: 3px solid var(--background-color);
}

input {
    height: 3em;
}

button {
    height: 2em;
    width: 50%;
    border: 2px solid var(--text-color);
    border-radius: 25px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: x-large;
    font-weight: bolder;
    margin: 20px 25% 0 25%;
}

.map {
    position: relative;
    top: 18%;
    left: 10%;
    width: 80%;
    border: 3px solid var(--background-color);
    border-radius: 25px;
    height: 30%;
}

/*----------Footer----------*/

footer {
    background-color: var(--background-color);
    padding: 10px 0px;
    display: flex;
}

footer p {
    text-align: center;
    margin: 10px auto;
    padding: 15px;
    border-radius: 30px;
    /* background-color: var(--background-color); */
    color: var(--text-color);
    font-weight: 300;
    font-size: large;
    /* border: 2px solid var(--text-color); */
}
